<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Page</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h1>병명 페이지</h1>
    <p>여기에 동물 관련 내용을 작성하세요.</p>
    <a href="/admin/disease/add" class="btn btn-info">동물 추가 페이지로 이동</a>
</div>
</body>
</html>
