<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>버튼 클릭 로그</title>
    <script>
        function logMessage() {
            console.log("버튼이 클릭되었습니다!");
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="container my-3">
<button onclick="logMessage()">클릭하세요!</button>
</div>
</body>
</html>
